<div class="container">
	<div class="row">
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<th>Titulo</th>
				<th>Ver</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</thead>
			<tbody>
				<tr *ngFor="let articulo of articulos">
					<td><strong>{{articulo.titulo}}</strong></td>
					<td><a [routerLink]="['/articulo',articulo.id]">Ver</a></td>
					<td><a [(ngModel)]="idPutArticulo={{articulo.id}}" (click)="modificarArticulo()" class="btn btn-warning">Editar</a></td>
					<td><a (click)="eliminarArticulo(articulo.id)" class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>

		<form>
	        <div class="form-group">
	          <label for="tituloArticulo">Titulo Articulo</label>
	          <input type="email" class="form-control" id="tituloArticulo" placeholder="Titulo" [(ngModel)]="articulo.titulo" name="tituloArticulo" required="true">
	        </div>
	        <div class="form-group">
	          <label for="descripcionArticulo">Descripcion Articulo</label>
	          <input type="email" class="form-control" id="descripcionArticulo" placeholder="Descripcion Articulo" name="descripcionArticulo" [(ngModel)]="articulo.contenido" required="true">
	        </div>
	        <button type="submit" class="btn btn-primary" (click)="modificarArticulo()">Actualizar</button>
	    </form>

	</div>
</div>